{{ 'announcement.css' | asset_url | stylesheet_tag }}

<div class="announcement bg-black">
  <div class="announcement__container">
    <div class="swiper announcement__slider">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <p class="announcement__text color-white">
              {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}" class="announcement__link">
              {% endif %}
              {% if block.settings.text != blank %}
                {{ block.settings.text }}
              {% endif %}
              {% if block.settings.link != blank %}
                </a>
              {% endif %}
            </p> 
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-prev custom-swiper-prev">
        <svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.38097 3.12715C3.25235 3.26701 2.91594 3.44353 2.76024 3.6286C2.60455 3.81367 2.10852 4.20262 1.95227 4.4458C1.78425 4.64781 1.19713 5.13108 1.03359 5.35142C0.848398 5.52033 0.804153 5.83547 0.997559 5.91177C1.1945 5.99802 1.41141 6.04805 1.6336 6.05846C1.74177 6.05083 1.84862 6.03343 1.95227 6.00655C1.98516 5.99631 2.01958 5.98988 2.05457 5.98744C2.08964 5.98849 2.12453 5.98282 2.15655 5.97085C2.18856 5.95889 2.21684 5.94096 2.2392 5.91845C2.27217 5.89035 2.30991 5.86643 2.35122 5.84743C2.58178 5.72855 2.78779 5.57948 2.9613 5.40597C3.01619 5.35624 3.08302 5.32563 3.13809 5.27606C3.23349 5.19028 3.32366 5.09627 3.41626 5.00599C3.52715 4.89815 3.63766 4.79 3.74949 4.68355C3.85142 4.58643 3.95372 4.48931 4.05789 4.39577C4.17532 4.29041 4.29554 4.18941 4.41372 4.08499C4.43238 4.06945 4.45777 4.04878 4.46001 4.02749C4.46599 3.96673 4.49548 3.96192 4.53618 3.94513C4.58906 3.91369 4.63632 3.87618 4.67657 3.83372C4.7402 3.77021 4.81186 3.71259 4.89032 3.66186C5.05442 3.58012 5.14963 3.40359 5.27919 3.27555C5.34164 3.21107 5.3853 3.13542 5.40674 3.05454C5.42818 2.97366 5.42682 2.88975 5.40277 2.80938C5.39315 2.76791 5.37283 2.72868 5.34322 2.69439C5.19014 2.53278 5.03668 2.37133 4.87781 2.21811C4.73948 2.08479 4.59405 1.96265 4.45161 1.83585C4.41145 1.80497 4.37366 1.77201 4.33848 1.73718C4.16114 1.55425 3.95005 1.39591 3.71308 1.26805C3.57848 1.18492 3.44015 1.11064 3.30555 1.02782C3.19933 0.962553 3.09702 0.887965 2.99117 0.821924C2.93311 0.787005 2.87285 0.754689 2.81065 0.725115C2.7173 0.678497 2.62508 0.635143 2.5323 0.589924C2.51793 0.582932 2.50523 0.569257 2.49067 0.564906C2.31108 0.511918 2.13223 0.454889 1.95134 0.409515C1.84175 0.382322 1.72731 0.379835 1.61754 0.356682C1.4811 0.324153 1.3351 0.334096 1.20683 0.384652C1.18585 0.39429 1.1626 0.400016 1.13869 0.401435C1.0363 0.3929 0.93361 0.415071 0.84911 0.463956C0.764609 0.512841 0.703849 0.585228 0.677767 0.668086C0.652192 0.903504 0.70017 0.901173 0.828236 1.09666C0.993436 1.26886 1.19422 1.41514 1.42115 1.52864C1.5886 1.63756 1.76557 1.73593 1.95059 1.82295C2.19136 1.9616 2.41779 2.11675 2.62751 2.2868C2.73224 2.4223 3.08825 2.6372 3.19821 2.76633C3.24133 2.81699 3.42372 2.94317 3.49 2.99942" fill="currentColor"></path>
      </svg>
      </div>
      <div class="swiper-button-next custom-swiper-next">
        <svg width="6" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.82563 3.12715C2.71856 3.26701 2.43855 3.44353 2.30895 3.6286C2.17935 3.81367 1.76648 4.20262 1.63642 4.4458C1.49657 4.64781 1.00786 5.13108 0.871737 5.35142C0.717589 5.52033 0.680761 5.83547 0.841747 5.91177C1.00567 5.99802 1.18622 6.04805 1.37116 6.05846C1.4612 6.05083 1.55014 6.03343 1.63642 6.00655C1.66379 5.99631 1.69245 5.98988 1.72157 5.98744C1.75076 5.98849 1.77981 5.98282 1.80645 5.97085C1.8331 5.95889 1.85664 5.94096 1.87525 5.91845C1.9027 5.89035 1.93411 5.86643 1.96849 5.84743C2.1604 5.72855 2.33188 5.57948 2.47631 5.40597C2.52199 5.35624 2.57762 5.32563 2.62346 5.27606C2.70287 5.19028 2.77792 5.09627 2.855 5.00599C2.9473 4.89815 3.03929 4.79 3.13237 4.68355C3.21721 4.58643 3.30237 4.48931 3.38908 4.39577C3.48682 4.29041 3.58689 4.18941 3.68525 4.08499C3.70079 4.06945 3.72192 4.04878 3.72379 4.02749C3.72876 3.96673 3.75331 3.96192 3.78719 3.94513C3.8312 3.91369 3.87054 3.87618 3.90404 3.83372C3.95701 3.77021 4.01666 3.71259 4.08197 3.66186C4.21855 3.58012 4.2978 3.40359 4.40565 3.27555C4.45763 3.21107 4.49397 3.13542 4.51182 3.05454C4.52966 2.97366 4.52853 2.88975 4.50852 2.80938C4.5005 2.76791 4.48359 2.72868 4.45895 2.69439C4.33152 2.53278 4.20379 2.37133 4.07155 2.21811C3.95641 2.08479 3.83536 1.96265 3.7168 1.83585C3.68337 1.80497 3.65192 1.77201 3.62263 1.73718C3.47501 1.55425 3.29931 1.39591 3.10207 1.26805C2.99003 1.18492 2.87489 1.11064 2.76285 1.02782C2.67443 0.962553 2.58928 0.887965 2.50117 0.821924C2.45284 0.787005 2.40268 0.754689 2.35091 0.725115C2.27321 0.678497 2.19645 0.635143 2.11922 0.589924C2.10725 0.582932 2.09669 0.569257 2.08457 0.564906C1.93508 0.511918 1.78622 0.454889 1.63564 0.409515C1.54443 0.382322 1.44917 0.379835 1.3578 0.356682C1.24423 0.324153 1.12271 0.334096 1.01594 0.384652C0.998473 0.39429 0.979121 0.400016 0.959222 0.401435C0.873993 0.3929 0.788517 0.415071 0.718181 0.463956C0.647846 0.512841 0.597271 0.585228 0.575561 0.668086C0.554273 0.903504 0.594208 0.901173 0.700807 1.09666C0.838315 1.26886 1.00544 1.41514 1.19433 1.52864C1.33371 1.63756 1.48102 1.73593 1.63502 1.82295C1.83543 1.9616 2.0239 2.11675 2.19847 2.2868C2.28564 2.4223 2.58197 2.6372 2.6735 2.76633C2.70939 2.81699 2.86121 2.94317 2.91638 2.99942" fill="#E8E8E8"/>
        </svg>        
      </div>
    </div>
  </div>
</div>

{{ 'announcement.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "t:sections.announcement-bar.blocks.announcement.settings.text.default",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
