.edition__container {
  max-width: 100%;
  width: 100%;
}

.edition__grid__video, 
.edition__grid__img {
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
  object-position: top;
  aspect-ratio: 1;
}

.edition__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.edition__grid-item {
  flex: 0 0 50%;
  position: relative;
}

.edition__grid-content {
  position: absolute;
  width: 100%;
  padding: 35px 45px;
  left: 0;
  right: 0;
  bottom: 0;
}

.edition__grid-top-tag {
  font-size: var(--font-size-16);
  line-height: 120%;
  letter-spacing: 0;
  font-weight: var(--font-weight-400);
  font-family: var(--font-primary);
  text-transform: capitalize;
  position: absolute;
  top: 35px;
  left: 45px;
}

.edition__grid-caption {
  font-size: var(--font-size-12);
  line-height: 130%;
  letter-spacing: 0;
  font-weight: var(--font-weight-400);
  font-family: var(--font-secondary);
  text-transform: capitalize;
}

.edition__grid-tags {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.edition__grid-tag {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-400);
  line-height: 100%;
  font-family: var(--font-primary);
  padding: 6px 17px;
  border: 0.5px solid var(--color-black);
  border-radius: 70px;
  background: var(--color-white);
}

.edition__grid-tag:not(.edition__grid-tag--in-stock) {
  background: var(--color-blue);
  font-family: var(--font-secondary);
}

.edition__grid-heading , 
.edition__grid-heading a {
  text-decoration: none;
  transition: all 0.4s ease;
} 


.edition__grid-heading:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .edition__grid {
    flex-direction: column;
  }

  .edition__grid-content {
    padding: 20px;
  }

  .edition__grid-top-tag {
    top: 20px;
    left: 20px;
  }

  .edition__grid-heading {
    font-size: var(--font-size-22);
  }
}