.hero-banner {
  position: relative;
  margin-top: -89px;
}

.hero-banner__img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
}

.hero-banner__container {
  max-width: 1440px;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0 auto;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-banner__cta {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-top: 28px;
}

.hero-banner__bottom-desc {
  font-family: var(--font-quaternary);
  line-height: 100%;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-09);
}

.hero-banner__bottom-text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 27px;
  padding: 0 18px;  
}

.hero-banner__title {
  margin: 0;
  padding-top: 90px;
}

@media (max-width: 1200px) {
  .hero-banner__title {
    padding-top: 0;
  } 
}


@media (max-width: 989px) {
  .hero-banner__img {
    min-height: 70vh;
  }

  .hero-banner__container,
  .hero-banner__bottom-text {
    padding-left: 16px;
    padding-right: 16px;
  }
}